body {
    background-color: #A5511f;
    margin: 0;
    text-align: center;
    padding: 0;
}
canvas {
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
@font-face {
    font-family: 'Cactus';
    src: url('fonts/Cactus.otf');
}
.fontPreload{
    font-family: 'Cactus';
    position: absolute;
    left: -100px;
}